@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

:root {
    --main-white: #f0f0f0;
    --main-red: #C40233;
    --main-blue: #45567d;
    --main-gray: #303841;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 60%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Serif', serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

h1,
h2 {
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

/* nav bar */
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: #1b1b1b;
    color: red;
}

/* welcome */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

#hero-heading {
    font-size: 72px;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 2rem;
}

#hero-para {
    background-image: -webkit-linear-gradient(left, #E0F8F7, #585858, #fff);
    background-image: -moz-linear-gradient(left, #E0F8F7, #585858, #fff);
    background-image: -ms-linear-gradient(left, #E0F8F7, #585858, #fff);
    background-image: -o-linear-gradient(left, #E0F8F7, #585858, #fff);
    background-image: linear-gradient(to right, #E0F8F7, #585858, #fff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-bottom: 4rem;
}

#image {
    height: 35rem;
    width: 35rem;
    border-radius: 500px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* projects */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #16e0bd;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.source {
    display: flex;
    font-size: 2rem;
    margin: auto;
    border: transparent;
    color: white;
    background-color: transparent;
}

.source:hover {
    color: #16e0bd;
}

/* blogs */
.blogs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.blogs-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 30.625em) {
    .blogs-grid {
        grid-template-columns: 1fr;
    }
}

#blogs {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 10rem 2rem;
}

.blogs-button {
    font-size: 2rem;
    text-align: center;
    display: flex;
    margin: auto;
    background: none;
    border: none;
    color: white;
}

.blogs-button:hover {
    color: #16e0bd;
}

.blogs-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

/* contact */
#contact {
    background-color: var(--main-red);
    padding: 10rem 2rem 1rem 2rem;
    text-align: center;
}

#contact-info {
    flex-direction: column;
    max-width: 1000px;
    margin: 5rem auto;
}

#info-list {
    width: 70%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

#info-list:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

/* footer */
#footer {
    background-color: var(--main-gray);
    color: #f0f0f0;
    text-align: center;
    padding: 1rem;
}

.social-links {
    margin: auto;
    padding: 1rem;
}

.list-item-inline {
    display: inline-block;
    font-size: 2rem;
}

.list-item-inline:hover {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.5;
}